go 1.25.0

use (
	./api
	./graph
	./pkg/ingestv1
	./mcp
	./scrapers/ingestpub
	./scrapers/ingest-worker
	./scrapers/coderules
	./scrapers/ds
	./scrapers/lola
	./scrapers/nuclei
	./scrapers/proxybroker
	./scrapers/sbom
	./scrapers/ti
	./scrapers/vuln
)
