go 1.25.0

use (
	../pkg/nvdparse
	./contract/ingestv1
	./internal/normalize/appsec
	./internal/normalize/ti
	./internal/normalize/tidomain
	./internal/normalize/tiingest
	./internal/normalize/vuln
	./pipeline_worker
	./pub
)
