COMPOSE_PROJECT_NAME={{ veil_compose_project }}
VEIL_PROFILE={{ veil_profile }}
VEIL_PROFILE_PATH={{ veil_repo_root }}/deploy/profiles/{{ veil_profile }}.env
PIPELINE_WORKER_SCALE={{ veil_pipeline_worker_scale | default(2) }}
INGEST_WORKER_SCALE={{ veil_ingest_worker_scale | default(2) }}
GRAPH_PACK_SKIP={{ veil_graph_pack_skip | default('0') }}
